@font-face {
  font-family: 'Playfair Display Regular';
  font-display: auto;
  src: url("../fonts/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Italic';
  font-display: auto;
  src: url("../fonts/PlayfairDisplay-Italic.eot");
  src: url("../fonts/PlayfairDisplay-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Regular';
  font-display: auto;
  src: url("../fonts/Geometria.eot");
  src: url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Geometria Regular', sans-serif;
  font-size: 12px;
  color: #000;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1140px;
  margin: auto;
}

.title {
  font-family: 'Playfair Display Regular', serif;
  font-size: 40px;
}

.italic {
  font-family: 'Playfair Display Italic', serif;
}

.arrow {
  position: relative;
  width: 40px;
  height: 2px;
  background-color: #000;
  transition: 0.2s;
}

.arrow::before, .arrow::after {
  content: '';
  position: absolute;
  right: 0;
  width: 7px;
  height: 2px;
  background-color: #000;
  transition: 0.5s;
}

.arrow::before {
  transform: rotate(45deg);
  transform-origin: right top;
}

.arrow::after {
  transform: rotate(-45deg);
  transform-origin: right bottom;
}

.arrow.active {
  height: 0;
}

.arrow.active::before, .arrow.active::after {
  width: 40px;
  transform-origin: center;
}

.arrow.active::before {
  transform: rotate(135deg);
}

.arrow.active::after {
  transform: rotate(-135deg);
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .title {
    font-size: 23px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 315px;
  }
}

.header {
  position: relative;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 65%;
  height: 100%;
  background-color: #f2f4f7;
}

.header-contacts {
  padding: 15px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contacts__logo .name {
  font-size: 24px;
}

.header-contacts__phone {
  margin-left: -250px;
}

.header-contacts__phone-link-wrap {
  display: flex;
  align-items: center;
}

.header-contacts__phone-link-wrap .phone-img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3a53;
  border-radius: 50%;
}

.header-contacts__phone-link-wrap .phone-number {
  font-size: 14px;
  letter-spacing: 0.67px;
}

.header-contacts__social {
  display: flex;
}

.header-contacts__social-link {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: url("../img/header/border.png") no-repeat;
  border-radius: 50%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content__title {
  font-size: 60px;
}

.header-content .description-text {
  display: none;
  margin-top: 18px;
  width: 280px;
  line-height: 18.67px;
}

.header-content__description {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.header-content__description .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  background: url("../img/header/round-text.png") no-repeat;
}

.header-content__description-text {
  margin-left: 65px;
}

.header-content__description-title {
  font-size: 24px;
}

.header-content__description .text {
  margin-top: 25px;
  width: 280px;
  line-height: 17.33px;
}

.header-content__img {
  position: relative;
}

.header-content__img .rings {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-51%, -50%);
}

@media (max-width: 991px) {
  .header-bg {
    width: 100%;
    height: 70px;
  }
  .header-contacts__phone {
    margin: 0;
  }
  .header-content {
    flex-direction: column;
    align-items: start;
  }
  .header-content__img {
    margin: 17px auto 0;
  }
}

@media (max-width: 767px) {
  .header-bg {
    height: 62px;
  }
  .header-bottom-bg {
    position: absolute;
    bottom: 42px;
    left: 0;
    width: 100%;
    height: 306px;
    background-image: linear-gradient(to top, #d4c7bb 0%, #efe5dc 100%);
  }
  .header-contacts {
    padding: 8px 0;
  }
  .header-contacts__phone-link-wrap .phone-img {
    margin: 0;
    width: 47px;
    height: 47px;
  }
  .header-contacts__phone-link-wrap .phone-text {
    display: none;
  }
  .header-contacts__social-link {
    display: none;
  }
  .header-contacts__social .whatsapp {
    display: flex;
    margin: 0;
    width: 47px;
    height: 47px;
    background: linear-gradient(to top, #32ac3a 0%, #50c660 100%);
  }
  .header-content {
    margin-top: 35px;
  }
  .header-content__title {
    font-size: 33px;
  }
  .header-content .description-text {
    display: block;
  }
  .header-content__description {
    margin-top: 25px;
  }
  .header-content__description-text {
    margin-left: 20px;
  }
  .header-content__description-title {
    font-size: 17px;
    line-height: 23.33px;
  }
  .header-content__description .text {
    display: none;
  }
}

.capabilities {
  padding-top: 45px;
  padding-bottom: 50px;
}

.capabilities-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.capabilities-item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  text-align: center;
}

.capabilities-item__img {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 87px;
  background-image: linear-gradient(to top, #252d40 0%, #4a5776 100%);
  border-radius: 50%;
}

.capabilities-item__img .border {
  position: absolute;
  top: -4px;
  left: 8px;
  z-index: 1;
}

@media (max-width: 991px) {
  .capabilities {
    padding-top: 0;
    padding-bottom: 35px;
  }
  .capabilities-item {
    width: 115px;
  }
}

@media (max-width: 566px) {
  .capabilities {
    margin-top: -5px;
  }
}
