@font-face {
  font-family: 'Playfair Display Regular';
  font-display: auto;
  src: url("../fonts/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Italic';
  font-display: auto;
  src: url("../fonts/PlayfairDisplay-Italic.eot");
  src: url("../fonts/PlayfairDisplay-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Regular';
  font-display: auto;
  src: url("../fonts/Geometria.eot");
  src: url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Geometria Regular', sans-serif;
  font-size: 12px;
  color: #000;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1140px;
  margin: auto;
}

.title {
  font-family: 'Playfair Display Regular', serif;
  font-size: 40px;
}

.sub-title {
  font-family: 'Playfair Display Regular', serif;
  font-size: 23px;
}

.italic {
  font-family: 'Playfair Display Italic', serif;
}

.btn {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 7px;
  font-weight: bold;
}

.btn .btn-img {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 1;
  transform: translateY(-50%);
}

.btn_light {
  background-image: linear-gradient(to top, #e6e8ec 0%, #f2f4f7 100%);
}

.btn_dark {
  color: #fff;
  background-image: linear-gradient(to top, #252d40 0%, #4a5776 100%);
}

.arrow {
  display: block;
  position: relative;
  width: 40px;
  height: 2px;
  background-color: #000;
  transition: 0.2s;
}

.arrow::before, .arrow::after {
  content: '';
  position: absolute;
  right: 0;
  width: 7px;
  height: 2px;
  background-color: #000;
  transition: 0.5s;
}

.arrow::before {
  transform: rotate(45deg);
  transform-origin: right top;
}

.arrow::after {
  transform: rotate(-45deg);
  transform-origin: right bottom;
}

.arrow.active {
  height: 0;
}

.arrow.active::before, .arrow.active::after {
  width: 40px;
  transform-origin: center;
}

.arrow.active::before {
  transform: rotate(135deg);
}

.arrow.active::after {
  transform: rotate(-135deg);
}

@media (min-width: 992px) {
  .btn:hover {
    transform: scale(1.02);
  }
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .title {
    font-size: 23px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 315px;
  }
}

.header {
  position: relative;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 65%;
  height: 100%;
  background-color: #f2f4f7;
}

.header-contacts {
  padding: 15px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contacts__logo .name {
  font-size: 24px;
}

.header-contacts__phone {
  margin-left: -250px;
}

.header-contacts__phone-link-wrap {
  display: flex;
  align-items: center;
}

.header-contacts__phone-link-wrap .phone-img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3a53;
  border-radius: 50%;
}

.header-contacts__phone-link-wrap .phone-number {
  font-size: 14px;
  letter-spacing: 0.67px;
}

.header-contacts__social {
  display: flex;
}

.header-contacts__social-link {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: url("../img/header/border.png") no-repeat;
  border-radius: 50%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content__title {
  font-size: 60px;
}

.header-content .description-text {
  display: none;
  margin-top: 18px;
  width: 280px;
  line-height: 18.67px;
}

.header-content__description {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.header-content__description .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  background: url("../img/header/round-text.png") no-repeat;
}

.header-content__description-text {
  margin-left: 65px;
}

.header-content__description-title {
  font-size: 24px;
}

.header-content__description .text {
  margin-top: 25px;
  width: 280px;
  line-height: 17.33px;
}

.header-content__img {
  position: relative;
}

.header-content__img .rings {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-51%, -50%);
}

@media (max-width: 991px) {
  .header-bg {
    width: 100%;
    height: 70px;
  }
  .header-contacts__phone {
    margin: 0;
  }
  .header-content {
    flex-direction: column;
    align-items: start;
  }
  .header-content__img {
    margin: 17px auto 0;
  }
}

@media (max-width: 767px) {
  .header-bg {
    height: 62px;
  }
  .header-bottom-bg {
    position: absolute;
    bottom: 42px;
    left: 0;
    width: 100%;
    height: 306px;
    background-image: linear-gradient(to top, #d4c7bb 0%, #efe5dc 100%);
  }
  .header-contacts {
    padding: 8px 0;
  }
  .header-contacts__phone-link-wrap .phone-img {
    margin: 0;
    width: 47px;
    height: 47px;
  }
  .header-contacts__phone-link-wrap .phone-text {
    display: none;
  }
  .header-contacts__social-link {
    display: none;
  }
  .header-contacts__social .whatsapp {
    display: flex;
    margin: 0;
    width: 47px;
    height: 47px;
    background: linear-gradient(to top, #32ac3a 0%, #50c660 100%);
  }
  .header-content {
    margin-top: 35px;
  }
  .header-content__title {
    font-size: 33px;
  }
  .header-content .description-text {
    display: block;
  }
  .header-content__description {
    margin-top: 25px;
  }
  .header-content__description-text {
    margin-left: 20px;
  }
  .header-content__description-title {
    font-size: 17px;
    line-height: 23.33px;
  }
  .header-content__description .text {
    display: none;
  }
}

.capabilities {
  padding-top: 45px;
  padding-bottom: 50px;
}

.capabilities-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.capabilities-item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  text-align: center;
}

.capabilities-item__img {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 87px;
  background-image: linear-gradient(to top, #252d40 0%, #4a5776 100%);
  border-radius: 50%;
}

.capabilities-item__img .border {
  position: absolute;
  top: -4px;
  left: 8px;
  z-index: 1;
}

@media (max-width: 991px) {
  .capabilities {
    padding-top: 0;
    padding-bottom: 35px;
  }
  .capabilities-item {
    width: 115px;
  }
}

@media (max-width: 576px) {
  .capabilities {
    margin-top: -5px;
  }
}

.calendar {
  color: #fff;
  background-color: #2f3a53;
  overflow: hidden;
}

.calendar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-text {
  position: relative;
  z-index: 2;
}

.calendar__content {
  margin: 20px 0;
  font-weight: bold;
}

.calendar-lists {
  display: flex;
}

.calendar-list {
  line-height: 17.33px;
  list-style: inside url("../img/calendar/list-marker.png");
}

.calendar-list:first-child {
  margin-right: 70px;
}

.calendar__btn {
  margin-top: 25px;
  width: 240px;
  height: 33px;
}

.calendar-img {
  position: relative;
}

.calendar-img .moon-woman {
  position: relative;
  bottom: -3px;
  z-index: 2;
}

.calendar-img .moon {
  position: absolute;
  left: 50%;
  bottom: 0px;
  z-index: 1;
  transform: translateX(-50%);
  width: 600px;
}

@media (max-width: 991px) {
  .calendar {
    padding-top: 35px;
  }
  .calendar-wrap {
    flex-direction: column;
    align-items: start;
  }
  .calendar-img {
    margin: 35px auto 0;
  }
}

@media (max-width: 767px) {
  .calendar-lists {
    flex-direction: column;
  }
  .calendar__btn {
    width: 100%;
    height: 40px;
  }
  .calendar-img {
    margin-top: 20px;
  }
  .calendar-img .moon-woman {
    width: 300px;
  }
  .calendar-img .moon {
    width: 520px;
  }
}

.consultation {
  padding: 45px 0;
  background-color: #f2f4f7;
}

.consultation .line {
  margin: 25px 0;
}

.consultation .line:last-child {
  margin-bottom: 0;
}

.consultation-panel {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.consultation-panel__content {
  width: 685px;
}

.consultation-panel__list {
  margin-top: 20px;
  list-style: none;
  max-width: 575px;
  width: 100%;
}

.consultation-panel__list-item {
  margin-bottom: 20px;
  line-height: 17.33px;
}

.consultation-panel__list-item:not(:first-child) {
  display: none;
}

.consultation-panel__wrap {
  display: flex;
}

.consultation-panel__wrap .number {
  margin-bottom: 5px;
}

.consultation-panel__duration {
  margin-right: 50px;
}

.consultation-panel__banner {
  display: none;
  position: relative;
  width: 100%;
  height: 340px;
  background-color: #edf0f3;
}

.consultation-panel__banner .banner__content {
  position: absolute;
  left: 20px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

.consultation-panel__banner .banner__title {
  margin-bottom: 20px;
}

.consultation-panel__banner .banner__wrap {
  display: flex;
}

.consultation-panel__banner .banner__btn {
  margin-top: 50px;
  width: 240px;
  height: 34px;
}

.consultation-panel__banner .banner__img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
}

.consultation-panel__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 105px;
  background: url("../img/consultation/ring.png") no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.consultation-panel.active .consultation-panel__content {
  overflow: hidden;
}

.consultation-panel.active .consultation-panel__list {
  padding-left: 18px;
  list-style: url("../img/consultation/list-marker.png");
  max-width: 100%;
}

.consultation-panel.active .consultation-panel__list-item:not(:first-child) {
  display: list-item;
}

.consultation-panel.active .consultation-panel__wrap {
  display: none;
}

.consultation-panel.active .consultation-panel__banner {
  display: block;
}

@media (max-width: 991px) {
  .consultation-panel {
    flex-direction: column;
  }
  .consultation-panel__content {
    margin-top: 20px;
    width: 100%;
  }
  .consultation-panel__btn {
    margin: 25px auto 0;
  }
}

@media (max-width: 767px) {
  .consultation-panel__banner {
    height: 307px;
  }
}

@media (max-width: 576px) {
  .consultation-panel__banner {
    margin-top: 140px;
  }
  .consultation-panel__banner .banner__content {
    top: -125px;
    left: 0;
    transform: translateY(0);
    width: 100%;
  }
  .consultation-panel__banner .banner__title {
    display: none;
  }
  .consultation-panel__banner .banner__btn {
    margin-top: 25px;
    width: 100%;
    height: 40px;
  }
}

.comments {
  padding-top: 50px;
  padding-bottom: 150px;
  overflow: hidden;
}

.comments__content {
  list-style: none;
}

.comments__item::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 7px;
  height: 7px;
  background-color: #000;
  border-radius: 50%;
  vertical-align: super;
}

.comments__item-video {
  margin-top: 10px;
}

.comments__item-instagram {
  margin-top: 50px;
}

.comments__video {
  margin-top: 25px;
  overflow: hidden;
}

.comments__video .video-slide {
  width: 240px;
}

.comments__video .video-img {
  position: relative;
  width: 100%;
  height: 240px;
}

.comments__video .video-img__main {
  width: 100%;
}

.comments__video .video-img__main-img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.comments__video .video-img__main-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.comments__video .video-img__border {
  position: absolute;
  left: 0;
  top: 9px;
  z-index: 2;
  width: 100%;
}

.comments__video .video-img__play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  cursor: pointer;
}

.comments__video .video-img__play-btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #efe5dc;
  opacity: 0.5;
}

.comments__video .video-text {
  margin-top: 15px;
  text-align: center;
}

.comments__video .video-text__name {
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .comments__video .video-img__play-btn:hover::before {
    opacity: 0.6;
  }
}

@media (max-width: 1199px) {
  .comments__video .video-slide {
    width: 220px;
  }
  .comments__video .video-img {
    height: 220px;
  }
  .comments__video .video-img__play-btn {
    width: 53px;
    height: 53px;
  }
}

@media (max-width: 767px) {
  .comments__video {
    overflow: visible;
  }
  .comments__video .video-slide {
    width: 200px;
  }
  .comments__video .video-img {
    height: 200px;
  }
  .comments__video .video-text {
    display: none;
  }
}
